.container-big-card {
  border: 1px solid white;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.big-card-title a:hover {
  color: #a5a5a5;
}
.big-card-description p {
  color: #a5a5a5;
}
.big-card-foto img {
  width: 100%;
}
