.container-menu-title {
  color: white;
}
.container-menu-title h1 {
  font-size: 14vw;
  display: flex;
  justify-content: center;
  margin: auto;
}
.container-menu-title hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
