<header>
  <menu-bar></menu-bar>
</header>
<menu-title></menu-title>
<article>
  <div class="article-main">
    <big-card *ngFor="let bigArticle of articles.slice(startBig, displayBigCard)" id="{{bigArticle.id}}"
      photoCover="{{bigArticle.photo}}" bigTitle="{{bigArticle.title}}"
      bigDescription="{{bigArticle.description}}"></big-card>
  </div>
  <div class="articles-others">
    <small-card *ngFor="let smallArticle of articles.slice(startSmall, displaySmallCard)" id="{{smallArticle.id}}"
      smallPhotoCover="{{smallArticle.photo}}" smallCardTitle="{{smallArticle.title}}"
      smallCardDescription='{{smallArticle.description}}'></small-card>
  </div>
</article>
<div class="container-buttons">
  <button (click)="prevPage()">back</button>
  <button (click)="nextPage()">Next</button>
</div>