<header>
  <menu-bar></menu-bar>
</header>
<menu-title></menu-title>
<article>
  <div class="article-main">
    <big-card *ngFor="let bigArtigo of artigos.slice(0, displayBigCard)" id="{{bigArtigo.id}}"
      photoCover="{{bigArtigo.photo}}" bigTitle="{{bigArtigo.title}}"
      bigDescription="{{bigArtigo.description}}"></big-card>
  </div>
  <div class="articles-others">
    <small-card *ngFor="let smallArtigo of artigos.slice(1, displaySmallCard)" id="{{smallArtigo.id}}"
      smallPhotoCover="{{smallArtigo.photo}}" smallCardTitle="{{smallArtigo.title}}"
      smallCardDescription='{{smallArtigo.description}}'></small-card>
  </div>
</article>